# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
server/.env
.env

# React build output
client/build/

# Uploaded files
server/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
